<template>
  <section>
    <div v-if="LoadingPage" class="loading"></div>
    <div v-else class="Maps-S">
        <div class="box-refresh">
          <center @click="refresh"> <i class="fa fa-refresh"></i></center>
        </div>
    <div class="box-author">
       <center class="font-weight-bold">Claudio Syanu M.D</center>
    </div>
  <div class="Box-Search-icon">
            <div class="input-group">
              <input v-model="seacrhcountry" class="form-control btn-search-maps border-right-0 border" type="text" placeholder="Cari Negara...">
              <span class="input-group-append">
                <div class="input-group-text iconsearchmobileservices bg-white border-right-0"><i class="fa fa-search" /></div>
              </span>
            </div>
    </div>
      <div class="Box-Search">
      <div class="card-header">
        <li class="d-flex justify-content-between align-items-center">
          <h5 style="color:white" class="font-weight-bold">
            Daftar Negara Terkena Covid 19
          </h5>
        </li>
      </div>
      <div style="overflow-x: scroll;height: 80vh;">
        <ul @click="pickcountry(i.attributes)" v-for="i in filterkeywordlistcoronaglobal" :key="i.Country_Region" class="list-group list-group-flush">
          <li :class="MyPick === i.attributes ? 'active-box' : ''" class="list-group-item">
            <div>
              <h5 style="color:#ffffff" class="font-weight-bold text-capitalize">
               {{i.attributes.Country_Region}}
              </h5>
            </div>
          </li>
        </ul>
      </div>
      </div>
    <GmapMap
      ref="MapsDealer"
      :options="options"
      :center="center"
      :zoom="3"
      style="width: 100%; height: 100%"
    >
      <GmapMarker
        :key="index"
        v-for="(i, index) in filter_map"
        :position="{lat: i.attributes.Lat,lng:i.attributes.Long_}"
        :clickable="true"
        :draggable="false"
        @click="MarkerAler(i.attributes)"
      />
    </GmapMap>
    <b-modal ref="Modal-Marker" size="xl" hideHeaderClose hide-footer :title="'Analisis Di '+PickMyMarker.Country_Region">
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Sembuh</center> </h5>
    <p class="card-text"><center><h4>{{PickMyMarker.Recovered}}</h4></center></p>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Meninggal</center></h5>
    <p class="card-text"><center><h4>{{PickMyMarker.Deaths}}</h4></center></p>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-warning mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Positif</center></h5>
    <p class="card-text"><center><h4>{{PickMyMarker.Confirmed}}</h4></center></p>
  </div>
</div>
</div>
</div>
<div v-if="PickMyMarker.Country_Region == 'Indonesia'">

<div  class="row">
<div class="col-lg-4 col-md-12 col-sm-12">
  <div class="form-group">
    <label class="font-weight-bold">Pilih Bedasarkan  Provinsi</label>
    <select @change="chaneprovinsi" class="form-control">
        <option value=''>Pilih Provinsi</option>
        <option  :value="i.attributes.Provinsi" v-for="i in ListCoronaIndonesia" :key="i.attributes.Provinsi">{{i.attributes.Provinsi}}</option>
    </select>
  </div>
</div>
</div>
<div v-if="MyPickIndonesia != null" >
<h5>Analisis Di {{MyPickIndonesia[0].attributes.Provinsi}}</h5> <hr>
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-primary mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Sembuh</center> </h5>
    <p class="card-text"><center><h4>{{MyPickIndonesia[0].attributes.Kasus_Semb}}</h4></center></p>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Meninggal</center></h5>
    <p   class="card-text"><center><h4>{{MyPickIndonesia[0].attributes.Kasus_Meni}}</h4></center></p>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card text-white bg-warning mb-3">
  <div class="card-body">
    <h5 class="card-title"><center>Total Positif</center></h5>
    <p   class="card-text"><center><h4>{{MyPickIndonesia[0].attributes.Kasus_Posi}}</h4></center></p>
  </div>
</div>
</div>
</div>
</div>
</div>
    </b-modal>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Maps',
  data () {
    return {
      options: {
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        disableDefaultUi: false
      },
      center: { lat: 0.0, lng: 0.0 },
      ListCoronaGlobal: [],
      ListCoronaIndonesia: [],
      MyPick: null,
      MyPickIndonesia: null,
      seacrhcountry: '',
      PickMyMarker: {},
      LoadingPage: true
    }
  },
  created () {
    this.$nextTick(() => {
      const Url = 'https://api.kawalcorona.com/'
      this.$http.get(Url).then(response => {
        this.ListCoronaGlobal = response.data
      }).catch(() => {
        alert('Ada Yang Salah Nih')
      }).finally(() => {
        this.LoadingPage = false
      })
      this.$http.get(Url + 'indonesia/provinsi/').then(response => {
        this.ListCoronaIndonesia = response.data
      }).catch(() => {
        alert('Ada Yang Salah Nih')
      }).finally(() => {
        this.LoadingPage = false
      })
    })
  },
  computed: {
    filter_map () {
      const data = this.ListCoronaGlobal
      if (this.MyPick) {
        // eslint-disable-next-line vue/no-async-in-computed-properties
        this.$refs.MapsDealer.$mapPromise.then((map) => {
          map.panTo({ lat: this.MyPick.Lat, lng: this.MyPick.Long_ })
        })
        return data.filter(item => this.MyPick === item.attributes)
      } else {
        return data
      }
    },
    filterkeywordlistcoronaglobal () {
      return this.seacrhcountry
        ? this.ListCoronaGlobal.filter(item =>
          item.attributes.Country_Region.toLowerCase().match(this.seacrhcountry.toLowerCase()))
        : this.ListCoronaGlobal
    }
  },
  methods: {
    pickcountry (value) {
      this.MyPick = value
    },
    async MarkerAler (valuemarker) {
      this.MyPickIndonesia = null
      this.PickMyMarker = await valuemarker
      this.$refs['Modal-Marker'].show()
    },
    chaneprovinsi (valueprovinsi) {
      console.log(valueprovinsi.target.value)

      if (valueprovinsi.target.value === '') {
        this.MyPickIndonesia = null
      } else {
        this.MyPickIndonesia = this.ListCoronaIndonesia.filter(dataitem => dataitem.attributes.Provinsi === valueprovinsi.target.value
        )
      }
    },
    refresh () {
      this.MyPick = null
      this.seacrhcountry = ''
      this.PickMyMarker = {}
      this.MyPickIndonesia = null
    }
  }
}
</script>

<style scoped>
.Maps-S {
  width: 100%;
  height: 100vh;
}
.Box-Search{
    position: absolute;
    width: 30vw;
    background: #5a525252;
    z-index: 1024;
    left: 0;
}
.Box-Search-icon{
    position: absolute;
    width: 20vw;
    z-index: 1024;
    right: 0;

}
.box-author {
    position: absolute;
    /* height: 5vh; */
    bottom: 0;
    right: 0;
    background: #fffcfc;
    z-index: 1024;
    width: 20vw;
}
.box-author > center {
        color: rgb(46, 97, 175);
}
.box-refresh {
    position: absolute;
    z-index: 1024;

    width: 20vh;
    left: 50%;
    bottom: 0;
    right: 0;
    background:transparent;
}
.box-refresh > center {
    color: rgb(46, 97, 175);
    font-size: 2em;
    cursor: pointer;
}
.btn-search-maps:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}
.card-header /deep/ {
    background: #DB001D;
}
.card-header:first-child /deep/ {
   border-radius: 0px;
}
.list-group-item /deep/{
background: transparent;
cursor: pointer;
}
.list-group-item.active-box{
    background: #DB001D;
    transition: 0.9s;
}
.list-group-item.active-box:hover{
    background: #DB001D;
    transition: 0.9s;
}
.list-group-item:hover /deep/{
    background: #5d616b91;
    transition: 0.9s;
}
.modal-content /deep/ {
      background-color: #ffffffed;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
