<template>
  <div id="app">
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <router-view/>
  </div>
</template>

<style>
</style>
